#parse("/layout/head.vm")

## 引入导航
#parse("/layout/nav.vm")
<style>
</style>
<div style="width: 1150px;margin: 0 auto;">
    <h3 class="ui-white-font">Zookeeper</h3>
    <table class="ui inverted table">
        <thead>
        <tr>
            <th>Host</th>
            <th>Port</th>
            <th>SessionId</th>
            <th>SessionTimeout</th>
        </tr>
        </thead>
        <tbody>

        <tr>
            <td>$zookeeper.host</td>
            <td>$zookeeper.port</td>
            <td>$zookeeper.sessionId</td>
            <td>$zookeeper.sessionTimeOut s</td>
        </tr>
        </tbody>
    </table>

    <h3 class="ui-white-font">Brokers</h3>
    <table class="ui inverted table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Host</th>
            <th>Port</th>
            <th>Version</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
            #foreach($broker in $brokers)
            <tr>
                <td>$broker.id</td>
                <td>$broker.host</td>
                <td>$broker.port</td>
                <td>$broker.version</td>
                <td>$broker.createDate</td>
            </tr>
            #end

        </tbody>
    </table>

    <h3 class="ui-white-font">Topics</h3>
    <table class="ui inverted table">
        <thead>
        <tr>
            <th>name</th>
            <th>partitions</th>
            <th>replication</th>
        </tr>
        </thead>
        <tbody>
            #foreach($topic in $topics)
            <tr>
                <td>$topic.name</td>
                <td>[
                #foreach($partition in $topic.partitionses)
                    $partition.id &nbsp;
                #end
                ]</td>
                <td>(
                    #foreach($replica in $topic.partitionses.get(0).replicas)
                        $replica.id &nbsp;
                    #end
                )</td>
            </tr>
            #end

        </tbody>
    </table>
</div>
#parse("/layout/foot.vm")